# compiled executables
go-mosaic
mosaic
main

# Test binary, built with `go test -c`
*.test

# vscode config folder
.vscode/

# OSX
.DS_Store

# Perforce
*.orig

# ------------------------------------------------------------------------------
# Move with webclient

# Typescript
webclient/dist

# Node
webclient/node_modules

# Webpack
webclient/wwww
# ------------------------------------------------------------------------------
